* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
a {
    color: black;
}
.feeds {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feed-template {
    padding: 1rem;
    width: 50vw;
    background-color: rgb(248, 243, 243);
}
.feed-template div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.feed-template div h6 {
    background-color: rgb(136, 184, 210);
    width: 2.75rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#search-input {  width: 300px;
    padding: 8px;
   -size: 6px;  
   -radius: px;
    box-sizing: border-box;
  }
  
  #search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #45a049;
  }
